body {
    background: hsl(211.2deg 29.07% 33.73%);
}

.titleBar h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.siteWidth {
    max-width: 80%;
    width: 100%;
    margin: auto;
}

.cardHead {
    display: flex;
    align-items: center;
    background: hsl(302.63deg 98.28% 77.25%);
    padding: 0.875rem;
    position: relative;
    color: #fff;
}
.cardHead {
    display: flex;
    align-items: center;
    background: hsl(205.47deg 75.14% 63.73%);
    padding: 0.875rem;
    position: relative;
    color: #fff;
}

.cardHead span {
    padding-right: 0.5rem;
}
.cardDetail h4 {
    margin-bottom: 0.25rem;
}
.profileImg {
    max-width: 6rem;
    width: 100%;
    height: 6rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    border: 0.25rem solid #fff;
}

.profileImg img {
    width: 100%;
    border-radius: 50%;
}

.cardWrapper {
    flex: 0 0 32%;
    background: hsl(205.71deg 9.86% 86.08%);
}

.cardDetail {
    max-width: 80%;
    width: 100%;
    padding-left: 8rem;
}

.cardDetail p {
    display: flex;
    align-items: center;
    color: #fff;
}

.cardDetail p span svg {
    width: 1rem;
    height: 1rem;
}

.cardBlock {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}



.cardDetail h5 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.cardDetail p {
    margin: 0.25rem 0;
}
.pageWrapper {
    padding-bottom: 3rem;
}
.cardItem {
    background: hsl(0deg 0% 100%);
    flex: 0 0 100%;
}

.p-2 {
    padding: 0.5rem;
    font-style: italic;
    line-height: 1.5;
    font-weight: 500;
}

.cardBottom {
    padding: 0.5rem;
    background: hsl(205.71deg 9.86% 86.08%);
}

.cardBottom p {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.cardBottom p span svg {
    width: 1rem;
    height: 1rem;
}

.cardBottom p span {
    padding-right: 0.5rem;
}

.filterBar {
    text-align: right;
    margin-bottom: 2rem;
}

.filterBar input[type="text"] {
    width: 20rem;
    padding: 1rem 0.5rem;
    outline: none;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .cardDetail {
        padding-left: 0;
    }

    .filterBar input[type="text"] {
        width: 100%;
    }
}