.App {
  width: 100vw;
  height: 100vh;
  background-color: #6a7dee;

}

.main_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* row-gap: 20px; */
}

.heading {
  flex-flow: start;
  color: #ffff
}

.input_box {
  align-self: end;
}